<h1>Current Simulation State (internal data!)</h1>

<div id="map"></div>

<button id="buttonState">State</button>
<button id="buttonPause">Pause</button>
<button id="buttonRun">Run</button>
<button id="buttonToggleAS">Toggle AS</button>
<button id="buttonToggleMS">Toggle MS</button>
<button id="buttonToggleRoutes">Toggle Routes</button>

<scr{{!}}ipt>
  function decodeEntities(encodedString) {
    var textArea = document.createElement('textarea');
    textArea.innerHTML = encodedString;
    return textArea.value;
  }
  var globalStartPos = JSON.parse(decodeEntities("{{globalStartPos}}"));
  var globalBaseUrlSimulation = "{{globalBaseUrlSimulation}}";
  var globalSimulationEndpoints = JSON.parse(decodeEntities("{{globalSimulationEndpoints}}"));
</scr{{!}}ipt>

<h2>Customers ({{customers.length}}) <a href="/json/customers">[json]</a></h2>
<ul class="scrolling">
  {{#each customers}}
    <li>{{> customer}}</li>
  {{/each}}
</ul>

<h2>Ride Providers ({{rideProviders.length}}) <a href="/json/ride_providers">[json]</a></h2>
<ul class="scrolling">
  {{#each rideProviders}}
    <li>{{> rideProvider}}</li>
  {{/each}}
</ul>

<h2>Authentication Services ({{authenticationServices.length}}) <a href="/json/authentication_services">[json]</a></h2>
<ul class="scrolling">
  {{#each authenticationServices}}
    <li>{{> authenticationService}}</li>
  {{/each}}
</ul>

<h2>Matching Services ({{matchingServices.length}}) <a href="/json/matching_services">[json]</a></h2>
<ul class="scrolling">
  {{#each matchingServices}}
    <li>{{> matchingService}}</li>
  {{/each}}
</ul>

<h2>Smart Contracts ({{smartContracts.length}}) <a href="/json/smart_contracts">[json]</a></h2>
<ul class="scrolling">
  {{#each smartContracts}}
    <li>{{> smartContract}}</li>
  {{/each}}
</ul>

<button onClick="window.location.reload();">Refresh Page</button>
