<p>Participant {{id}}:</p>
<ul>
    <li>Contact Details:</li>
    <ul>
        <li>Name: {{contactDetails.fullName}}</li>
        <li>Date of birth: {{contactDetails.dateOfBirth}}</li>
        <li>Gender: {{contactDetails.gender}}</li>
        <li>Address: {{contactDetails.homeAddress}}</li>
        <li>Email: {{contactDetails.emailAddress}}</li>
        <li>Phone: {{contactDetails.phoneNumber}}</li>
    </ul>
    <li>Pseudonyms:</li>
    <ul>
    {{#each pseudonyms}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
</ul>
