<p>Ride Provider: {{id}}</p>
<ul>
    <li>Name: {{fullName}}</li>
    <li>Date of birth: {{dateOfBirth}}</li>
    <li>Gender: {{gender}}</li>
    <li>Address: {{homeAddress}}</li>
    <li>Email: {{emailAddress}}</li>
    <li>Phone: {{phoneNumber}}</li>
    <li>VIN: {{vehicleIdentificationNumber}}</li>
    <li>VNP: {{vehicleNumberPlate}}</li>
</ul>
